body{
	background-image: url("mosaic-alien-on-wall-1670977.jpg");
	background-size: 100%;
	margin: 0;
}
.navbar{
	background-color: #ffff99;
	overflow: auto;
	width: 100%;
}
.navbar a{
	font-family: Comic Sans MS;
	float: left;
	padding: 10px 30px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	width: 33.33%;
	text-align: center;
}	
.navbar a:hover{
	background-color: brown;
}
h1{
	padding-top: 4%;
	padding-left: 35%;
	font-size: 70px;
	font-family: Comic Sans MS;
}
h2{
	font-family: Comic Sans MS;
	font-size: 45px;
	padding-left: 39%;
}
h3{
	font-family: Comic Sans MS;
	font-size: 27px;
	padding-left: 41%;	
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #6BBE30;
	color: 000;
	text-align: center;
}
